<div class="container">
  <h1>Welcome {{user}}</h1>
 
 <div > 
 <input type="button" class="btn pull-right" (click)="userList()" name="newFriend" value="Create Friend">
 </div>
   
  <div>
  <h2>Friend List</h2>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.name }}</td>
        <td><a [routerLink]="['/contact-detail', contact.id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
 
 
</div>