<div>
<
<h1>Welcome {{user}} </h1>

<table class="table">
<thead class="thead-dark">
<tr>
<th>Name</th>
<th>Address</th>
<th>Contect</th>
<th>Friend Status</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let a of customers">
<td>{{a.name}}</td>
<td>{{a.address}}</td>
<td>{{a.phone}}</td>

<td>
 <input type="button" class="btn" (click)="addFriend(a.name)" name="newFriend" value="Add Friend">
 <input type="button" class="btn" (click)="sendMessage()" name="sendMessage" value="Send Message">
 <input type="button" class="btn" (click)="pendingFriend()" name="pendingRequest" value="Pending Request">


</td>
</tr>
</tbody>
</table>

<h1>

</h1>


</div>